<html>
    <head>
      {% if title %}
      <title>{{ title }} - Budget Scheduler</title>
      {% else %}
      <title>Welcome to the Budget Scheduler</title>
      {% endif %}
    </head>
    <body>
        <div>Budget Scheduler:
          <a href="{{ url_for('index') }}">Home</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Login</a>
          {% else %}
          <a href="{{ url_for('ppe_add') }}">Add Pay Period Expense</a>
          <a href="{{ url_for('bill_add') }}">Add Bill</a>
          <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
